.slidedeck section:has(h1, h2) h1 {
  font-size: 100pt; }

.slidedeck section:has(h1, h2) h1, .slidedeck section:has(h1, h2) h2 {
  background-color: unset;
  margin: 350px 0 0 50px;
  padding: unset;
  width: 50%; }

.slidedeck section:has(h1, h2) p {
  color: white;
  margin: 0 0 0 50px; }

.slidedeck section h4 {
  margin: 40px 80px;
  color: #464646; }

.slidedeck section:not(:has(h1, h2, h3)) .block-image {
  text-align: center;
  margin: 2em; }

.slidedeck section p, .slidedeck section ul {
  width: 80%;
  margin: 1em auto; }

.slidedeck section ul {
  list-style-type: disc; }

.slidedeck section pre {
  font-size: 24pt;
  width: 90%;
  margin: auto;
  border: 2px solid darkgray; }

#windows h3 {
  display: none; }
