.slidedeck section:has(h1) h1, .slidedeck section:has(h1) h2 {
  background-color: unset;
  top: 5em; }

.slidedeck section p {
  width: 80%;
  margin: 1em auto; }

.slidedeck section pre {
  font-size: 24pt;
  width: 90%;
  margin: auto;
  border: 2px solid darkgray; }
