.slidedeck section {


    &:has(h1,h2) {

        h1 {
            font-size: 100pt;
        }

        h1, h2 {
            background-color: unset;
            margin: 350px 0 0 50px;
            padding: unset;
            width: 50%;
        }

        p {
            color: white;
            margin: 0 0 0 50px;
        }
    }

    &:not(:has(h1,h2)) .block-image {
        text-align: center;
        margin: 2em;
    }

    p {
        width: 80%;
        margin: 1em auto;
    }

    pre {
        font-size: 24pt;
        width: 90%;
        margin: auto;
        border: 2px solid darkgray;
    }

}

