.slidedeck section {


    &:has(h1,h2) {

        h1 {
            font-size: 100pt;
        }

        h1, h2 {
            background-color: unset;
            margin: 350px 0 0 50px;
            padding: unset;
            width: 50%;
        }

        p {
            font-weight: bold;
            color: white;
            margin: 0 0 0 50px;
        }
    }

    &.picture .block-image {
        text-align: center;
        margin: 2em;

        img {
            max-height: 800px;
        }
    }

    h4 {
        margin: 40px 80px;
        color: rgb(70,70,70);
    }

    p, ul {
        width: 80%;
        margin: 1em auto;
    }

    ul {
        list-style-type: disc;
    }

    pre {
        font-size: 24pt;
        width: 90%;
        margin: auto;
        border: 2px solid darkgray;
    }    


    
}

#windows {
    h3 {
        display: none;
    }
}

#closing {
    a {
        display: inline-block;
        margin-top: 2em;
        color: rgb(123, 187, 255) !important;
    }
}